* {
    box-sizing: border-box;
}

html {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #FFF;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

a:visited {
    color: white;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.col {
    width: 50%;
    display: inline-block;
}

.wrapper {
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.control-label {
    text-align: center;
    display: inline-block;
    width: 100px;
    font-weight: bold;
}